@import url('https://fonts.googleapis.com/css?family=VT323');

body {
 margin: 0;
 font-family: 'VT323', monospace;
 text-align: center;
 font-size: 2rem;

}
main {
    margin: 0 auto;
    padding: 40px 0;
    width: 500px;
    background-color: rgb(139, 250, 231);
}