@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --xs: 8px;
  --s: 16px;
  --m: 24px;
  --l: 32px;
  /* color  */
  --black: rgba(27, 27, 27, 0.801);
  --purple: rgba(12, 78, 220, 0.582);
  --red: rgba(255, 17, 0, 0.801);
}

/*=============================================
=            universal settings            =
=============================================*/
html {
  font-family: inter, roboto;
  color: var(--black);
}
body {
  padding: var(--s);
  /* background-image: url(/src/assets/background.jpg); */
  background-image: url(/src/assets/img.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
main {
  display: flex;
  flex-direction: column;
  /* gap: var(--l); */
}
img {
  width: 500px;
}
ul {
  list-style: none;
}
h1 {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
}
p {
  font-size: 18px;
  font-weight: 300px;
  padding: 0;
  margin-top: var(--m);
  line-height: 1.6;
}
a {
  font-size: 18px;
  position: relative;
  padding: var(--xs) var(--s);
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: none;
  border-radius: 4px;
  font: inherit;
  margin-top: var(--m);
  padding: var(--s) var(--xs);
  cursor: pointer;
}
button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.801);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.container {
  width: 950px;
  margin: var(--m) auto;
}
.contact-me {
  margin-top: var(--s);
  background-color: var(--purple);
  color: white;
}
.contact-me:hover {
  transition: 0.2s;
  transform: translateY(-2px);
}
.contact-me a {
  margin: 0;
}
/*=====  End of settings  ======*/

/*=============================================
=            header            =
=============================================*/
nav {
  height: 100px;
  padding: var(--l);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav::after {
  content: "";
  position: absolute;
  top: var(--s);
  left: var(--s);
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: -1;
}
/* right side logo */
.logo {
  display: flex;
}
.logo-s {
  padding: 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
}
.logo_2 {
  animation: blink 0.5s linear infinite;
}
/* blink animation */
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* nav bar */
.nav-bar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav bar animation */
.nav-bar a {
  border-radius: 5px;
}
.nav-bar a:hover {
  transition: 0.2s;
  color: white;
  background-color: var(--black);
}

/* toggle button */
.toggle {
  display: flex;
}
.toggle:hover::after {
  display: none;
}
.toggle-nav,
.close-nav {
  display: none;
}
.toggle svg {
  width: 30px;
  height: 30px;
}
/*=============================================
=            hero                          =
=============================================*/

.hero {
  display: flex;
}
.hero-txt {
  flex: 2;
  flex-basis: 70%;
}
.hero-image {
  flex: 1;
  flex-basis: 30%;
}
/* hero -> hero-txt */
.hero-txt {
  margin-top: var(--l);
  padding: var(--l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-txt::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  width: 100%;
  height: calc(100% + 32px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: -1;
}
/* hero -> hero-image */
.hero-image img {
  /* width: 550px; */
  transform: translate(-170px, 20px);
}

/*=============================================
=            Section: about me           =
=============================================*/

.about-me {
  margin-top: var(--l);
  padding: var(--m);
  display: flex;
}
.about-me__txt {
  padding: var(--l);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
.about-me__txt::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: -1;
}
section.img {
  flex: 1;
  flex-basis: 30%;
}
section.glassmorphism {
  flex: 2;
  flex-basis: 70%;
}
/* about-me -> image */
.about-me img {
  position: relative;
  z-index: 1;
  transform: translate(90px, -16px) rotate(-15deg);
}

/*=====  End of about me  ======*/

/*=============================================
=            section: work            =
=============================================*/
.work {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.work section {
  width: 300px;

  display: flex;
  flex-direction: column;
}
.work section img,
.work section section {
  /* padding: var(--l); */
  width: 100%;
}
.work section img {
  width: 250px;
  transform: translate(-30px, 48px) rotate(39deg);
  position: relative;
  z-index: 1;
}

.work section section {
  padding: 50px var(--m) var(--m);
  justify-content: center;
  align-items: flex-start;
}
.work section section::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  width: 100%;
  height: calc(100% + 32px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: -1;
}
/* work button colour scheme */
.work button:hover {
  transition: 0.3s;
  transform: translateY(-3px);
}
.vlog:hover {
  background-color: var(--red);
}

/*=====  End of section: work  ======*/

/*=============================================
=            section: projects            =
=============================================*/

.projects {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}
.projects::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: -1;
}
.projects section {
  /* padding: var(--m); */
  display: flex;
  justify-content: space-around;
}
.projects section div {
  margin: var(--m) 0 0 var(--m);
  padding: var(--l);
  width: 300px;
  height: 260px;
  position: relative;
}
.projects section img {
  width: 120%;
  transform: translate(-58px, -39px);
  
}
.projects section .txt {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  /* outline: 1px solid green; */
}
.projects .txt h1 {
  position: absolute;
  top: 64px;
  right: 23px;
  font-size: 6.3rem;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.projects .txt p {
  position: absolute;
  top: 121px;
  right: 31px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}
.projects .txt button {
  margin: 0;
  position: absolute;
  top: 184px;
  right: 29px;
}

.projects .e-commerce {
  transform: translateY(var(--l));
}
.projects .voting-app {
  transform: translateY(-32px);
}
.projects .five-games {
  transform: translateY(calc(var(--l) + var(--xs)));
}
/*=====  End of section: projects  ======*/

/*=============================================
=            section: footer            =
=============================================*/
.footer {
  margin-top: 100px;
  padding: var(--m);
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 20px;
}
.footer::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: -1;
}

.footer-link {
  padding: var(--m);

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer-link ul {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
}

.footer-link li a {
  border-radius: 5px;
}
.footer-link li a:hover {
  background-color: var(--black);
  color: white;
}

.footer-txt {
  text-align: center;
  grid-column: 2/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-txt p {
  padding: 0;
  margin: var(--xs);
}
.footer-txt a {
  padding: 0;
  text-decoration: underline;
}
.footer-txt img {
  margin: 0 var(--xs);
  width: 20px;
}
.footer-txt p:last-child {
  /* outline: 1px solid blue; */
  width: 100%;
  display: flex;
}
.footer-txt p:last-child a {
  padding-right: var(--s);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-txt a:hover {
  outline: 3px dashed var(--purple);
}

.footer-end {
  margin-top: 64px;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  padding: 0;

  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -16px;
  left: -16px;
  width: calc(100% + 32px);
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  position: relative;
}
.footer-end::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: -1;
}

.heart {
  color: rgba(255, 17, 0, 0.801);
}
/*=====  End of section: footer  ======*/
